

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);

  // iCloud Aniket
  h2 {
    // I am not changing font size. So no need to add variables for fix size
    // ? Or maybe later I will add it
    font-size: 8rem;
    padding-top: 2rem;

    background: $gradient;
    // added -webkit-backkground-clip for chrome browser
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    // removing extra space of block element with inline-block
    display: inline-block;
  }

  h3 {
    font-size: 6rem;
    // only top and bottom padding
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}
#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}
#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}
#clock-arrow {
  animation: clock 1.5s linear infinite;
  transform-box: fill-box;
  transform-origin: bottom;
}
