.main-head {
  width: 95%;
  margin: 0 0 0 auto;

  // ! As it is scss, if I stack everything inside in here together. like .main-head{ nav{ ... } }
  // ! later on media query, if I want to select nav. like @media{ nav{ ... }}; it doesn't work
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;

  // todo: change the logo later to figma design (Aniket iCloud)
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;

    // My Name
    h1 {
      // ! todo: if name is changed check the margin
      margin: 2rem;
    }
  }

  // Links of other pages
  ul {
    @include flex(space-around, center, row);
    // 40rem so it will wrap it sooner when changing viewport
    flex: 1 1 40rem;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);

  // iCloud Aniket
  h2 {
    // I am not changing font size. So no need to add variables for fix size
    // ? Or maybe later I will add it
    font-size: 8rem;
    padding-top: 2rem;

    background: $gradient;
    // added -webkit-backkground-clip for chrome browser
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    // removing extra space of block element with inline-block
    display: inline-block;
  }

  h3 {
    font-size: 6rem;
    // only top and bottom padding
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

// Animating things

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}
#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
